@page "/api/get"

<PageTitle>Postman Clone by Harri Honkanen - API GET</PageTitle>

<h1>API GET</h1>

<div class="card">
    <div class="m-3">
        <label for="urlInput1" class="form-label">URL</label>
        <input type="text" class="form-control" id="urlInput1" placeholder="https://example.com">
    </div>
    <div class="m-3">
        <label for="urlInputTextarea1" class="form-label">Return</label>
        <textarea class="form-control" id="urlInputTextarea1" rows="10" readonly></textarea>
    </div>
</div>



@code {

}
